{% extends 'main.html' %}

{% block content %}
<style>
    .container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
<div class="container">
    <div>
<h1>{{room.name}}</h1>
<p>{{room.description}}</p>

<div class="comment-wrapper">
<h3>Conversation</h3>
<hr>
{% for room_message in room_messages %}
<div>
    <small>@{{room_message.user}} {{room_message.created_at|timesince}} ago</small>
    {% if request.user == room_message.user %}
    <a style="display: block;" href="{% url 'delete-message' room_message.id %}  ">Delete</a>
    {% endif %}
    <p>{{room_message.body}}</p>
</div>
{% endfor %}
</div>
{% if request.user.is_authenticated%}
<div>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Write your message here--">
    </form>
</div>
{% endif %}
</div>
<div>
    <h3>participants</h3>
    <hr>
    {% for user in participants %}
    <p>@{{user.username}}</p>
    {% endfor %}
</div>
</div>
{% endblock content %}